{% extends 'base.html' %}
{% block body  %}
<div class="bg-image"></div>

<div class="bg-text">
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Expense Tracker by DataFlair-Login</h3></div>
                                    <div class="card-body">
                                        <form action='/handlelogin/' method='post'>
                                        {% csrf_token %}
                                            <div class="form-group">
                                                <label class="small mb-1" for="loginuname">Username</label>
                                                <input class="form-control py-4" id="loginuname" name="loginuname" type="text" placeholder="Enter user name" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="loginpassword1">Password</label>
                                                <input class="form-control py-4" id="loginpassword1" name="loginpassword1" type="password" placeholder="Enter password" required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" reqired />
                                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <div class="btnn">
                                                <button type="submit" class="btn">Login</button><br>
																							</div>
																							<div  class="link">
																							<a class="small" href="\reset_password">Forgot Password?</a><br>
                                           
                                 <div class="card-footer text-center">
                                        <div class="small"><a href="/register">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
            </body>

  {% endblock body %}