{%  load static %}
<!DOCTYPE html>
<html>
<body>
 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                            <tr>
                                                <th>What you added</th>
                                                <th>Amount</th>
                                                <th>Category</th>
                                                <th>Date</th>
                                            </tr>
                                </thead>
                                <tbody>
                                 {% comment %} {% for money in page_obj %}  {% endcomment %}
                                {% for  info in add_info %}
                                            <tr>
                                                <td>{{info.add_money}}</td>
                                                <td>{{info.quantity}}</td>
                                                <td>{{info.Category}}</td>
                                                <td>{{info.Date}}</td>
                                            </tr>
                                 
                                 {% endfor %}
                                 {% comment %} {% endfor %} {% endcomment %}
                                </tbody>
                            </table>

</body>
</html>
